/**
 * Color schemes
 */
[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
  color-scheme: light;
  --pico-text-selection-color: rgba(205, 104, 224, 0.25);
  --pico-primary: #aa40bf;
  --pico-primary-background: #9236a4;
  --pico-primary-underline: rgba(170, 64, 191, 0.5);
  --pico-primary-hover: #802e90;
  --pico-primary-hover-background: #802e90;
  --pico-primary-focus: rgba(205, 104, 224, 0.5);
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    --pico-text-selection-color: rgba(212, 125, 228, 0.1875);
    --pico-primary: #d47de4;
    --pico-primary-background: #9236a4;
    --pico-primary-underline: rgba(212, 125, 228, 0.5);
    --pico-primary-hover: #e2a3eb;
    --pico-primary-hover-background: #aa40bf;
    --pico-primary-focus: rgba(212, 125, 228, 0.375);
}

[data-theme=dark] {
  color-scheme: dark;
  --pico-text-selection-color: rgba(212, 125, 228, 0.1875);
  --pico-primary: #d47de4;
  --pico-primary-background: #9236a4;
  --pico-primary-underline: rgba(212, 125, 228, 0.5);
  --pico-primary-hover: #e2a3eb;
  --pico-primary-hover-background: #aa40bf;
  --pico-primary-focus: rgba(212, 125, 228, 0.375);
}
