/**
 * Color schemes
 */
[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
  color-scheme: light;
  --pico-text-selection-color: rgba(0, 166, 110, 0.25);
  --pico-primary: #007a50;
  --pico-primary-background: #007a50;
  --pico-primary-underline: rgba(0, 122, 80, 0.5);
  --pico-primary-hover: #005f3d;
  --pico-primary-hover-background: #006d46;
  --pico-primary-focus: rgba(0, 166, 110, 0.5);
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    --pico-text-selection-color: rgba(0, 180, 120, 0.1875);
    --pico-primary: #00b478;
    --pico-primary-background: #007a50;
    --pico-primary-underline: rgba(0, 180, 120, 0.5);
    --pico-primary-hover: #00cc88;
    --pico-primary-hover-background: #00895a;
    --pico-primary-focus: rgba(0, 180, 120, 0.375);
}

[data-theme=dark] {
  color-scheme: dark;
  --pico-text-selection-color: rgba(0, 180, 120, 0.1875);
  --pico-primary: #00b478;
  --pico-primary-background: #007a50;
  --pico-primary-underline: rgba(0, 180, 120, 0.5);
  --pico-primary-hover: #00cc88;
  --pico-primary-hover-background: #00895a;
  --pico-primary-focus: rgba(0, 180, 120, 0.375);
}
